<div class="container custom-container" ng-init="hideNavbar()">
	<div class="row padTopHome">
	<font class="whiteHeading col-md-8"> Cafe de' Magica </font>
	<div class="aboutusBtn pull-right col-sm-2"> <span class="glyphicon glyphicon-user"></span> &nbsp; About Us</div>
	</div>
	<div class="jumbotron home-jumbotron row">
	Now you can order your favourite food from Destination Center, without having to go anywhere - it is fast & super easy!
	</div>
	<br>
	<br>
	<button type="button" class="btn btn-default row homeBtn" ng-click="goToUsers()">Place Your Order</button>

</div>
 <div id="footer">
      <div class="container custom-container">
        <p class="credit">Copyright &copy; Cafe de' Magica</p>
      </div>
</div>
    
